*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/
/runawfe/.idea/
/runawfe/original/
/runawfe/parallel/
/gradle/
gradlew
gradlew.bat
.kotlin
*.hprof